.container{
    margin-top: 30px;
    margin-bottom: 20px;
}
.column1{
    height: 100%;
     width: 30%;
     left: 0;
     position: relative;
     z-index: 1;
     top: 1;
     overflow-x: hidden;
     padding-top: 20px;
}
.column2{
    height: 100%;
     width: 60%;
     right: 0;
     position: relative;
     z-index: 1;
     top: 1;
     overflow-x: hidden;
     padding-top: 20px;
}
#carouselExampleControlsNoTouching{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px; 
}
#button2{
    float: right;
} 
.container1{
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
}
.header{
    margin-top: 100px;
    text-shadow: 1px 1px 2px;
    font-weight: bold;
    font-family: sans-serif;
}
#foot1{
background-color: black;
color: white;
}
.na{
color: white;
}
.carausel11{
height: 35rem;
}
#ad1{
width: 100%;
height: 35rem;
}
#ad2{
width: 100%;
height: 35rem;
}
#nav22{
display: flex;
flex-direction: row;
justify-content: space-evenly;
}
.btn10{
background-color: white;
color: black;
border: white;
}
.card-img-top{
height: 30rem;
}
.card{
margin-top: 20px;
}
.price{
color: rgb(219, 46, 46);
}