#foot1{
  background-color: black;
  color: white;
}
.na{
  color: white;
}
.carausel11{
  height: 35rem;
}
#ad1{
  width: 100%;
  height: 35rem;
}
#ad2{
  width: 100%;
  height: 35rem;
}
#nav22{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.btn10{
  background-color: white;
  color: black;
  border: white;
}
.card-img-top{
  height: 30rem;
}
.card{
  margin-top: 20px;
}
.price{
  color: rgb(219, 46, 46);
}
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */ 
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container1 {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
#two{
  background-image: url(./image/bg.jpg);
  font-weight: 400;
}