
#head{
    height: 500px;
    width: 600px;
    
}
#capt{
    height: 80px;
    width: 400px;
}
* {
    box-sizing: border-box;
  }
  
  /* Create two equal columns that floats next to each other */
  .column {
    
    float: left;
    width: 50%;
    padding: 50px;
    height: 700px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  #foot1{
    background-color: black;
    color: white;
}
.na{
    color: white;
}
.carausel11{
    height: 35rem;
}
#ad1{
    width: 100%;
    height: 35rem;
}
#ad2{
    width: 100%;
    height: 35rem;
}
#nav22{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.btn10{
    background-color: white;
    color: black;
    border: white;
}
.card-img-top{
    height: 30rem;
}
.card{
    margin-top: 20px;
}
.price{
    color: rgb(219, 46, 46);
}